.homepage-container {
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.svg-container {
  padding-left: 20px;
}

.homepage-header {
  font-family: "Playfair Display";
  font-size: 80px;
  color: #207582;
}

.header-blurb {
  font-size: 25px;
  color: #9ebdc1;
  text-align: left;
  padding: 20px;
  width: 500px;
}

@media only screen and (max-device-width: 650px) {
  .homepage-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
  }
  .svg-container {
    padding: 0;
  }
  .homepage-header {
    font-size: 8vw;
  }
  .header-blurb {
    font-size: 4vw;
    padding: 0;
    width: 300px;
  }
}
